.Popover {
  width: 100%;
  height: 100%;
}

.Popover .popoverbody {
  padding: 5px 5px 0px 5px;
}

.Popover .popoverHeader {
  background-color: #f3f3f5;
  text-align: center;
}

.Popover .content {
  position: relative;
  font-size: 9;
  width: 100%;
  height: 55px;
  /* display: inline-block; */
  border: 1px solid rgba(170, 170, 170, 0.3);
  margin-bottom: 5px;
}

.Popover .profile {
  float: left;
  /* font-size: 2em; */
  width: 50px;
  height: 100%;
}

.Popover .name {
  margin-top: 3px;
  margin-left: 5px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.Popover .messages {
  margin-left: 5px;
  width: 180px;
  display: block;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Popover .message {
  float: left;
}

.Overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(170, 170, 170, 0.3);
}
