body {
  margin: 0;
  overflow-y: hidden;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 280px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar_division {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sidebar_division::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.sidebar_menu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sidebar_menu::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}


/* sidebar의 user list 부분  */

.sidebar_user {
  width: 100%
}


.userList{
  width: 100%;
}

.userList ul{
  padding: 0px 0px;
  margin: 10px 5px;
}

.userList ul div{
  width: 100%;
}

.userList ul div img{
  position: relative;
  left: 2%;
  transform: scale(0.8);
}

.userList ul div label{
  color: #636464;
  position: relative;
  left: 6%;
  text-align: center;

}