body {
  margin: 0;
  overflow-y: hidden;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 280px;
  background-color: #c9c9c9;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar_division {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sidebar_division::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.sidebar_menu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
}
.sidebar_menu::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

/* sidebar의 user list 부분  */

.sidebar_user {
  width: 100%;
}

.userList {
  width: 100%;
}

.userList ul {
  padding: 0px 0px;
  margin: 5px 0px 0px 0px;
  height: 100%;
}

.userList ul div {
  width: 100%;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.userList ul div img {
  position: relative;
  left: 1%;
  transform: scale(0.7);
}

.userList ul div label {
  color: #636464;
  position: relative;
  left: 6%;
  text-align: center;

  font-weight: bold;
}
